.form-container {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/form1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} 

form {
    background-color: $white-normal;
    max-width: 500px;
    height: 350px;
    padding: 30px;
    border-radius: 20px;
}

form h2 {
    text-align: center;
    font-size: 30px;
    color: $primary-normal;
}

form p {
    text-align: center;
    margin: 20px 0;
    color: $primary-normal;
}

.input-single {
    position: relative;
    margin: 20px 0;
}

.input-single label {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.5s;
    cursor: text;
}

.input {
    width: 100%;
    border: 0;
    border-bottom: 0.5px solid $black-light;
    padding: 5px;
    font-size: 17px;
    outline: 0;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label {
    transform: translateY(-24px);
    font-size: 12px;
    color: $primary-normal;
}

.btn {
    width: 100%;
    text-align: center;
}

form input[type=submit] {
    padding: 10px 18px;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    margin: 14px 0;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
        height: 40vh;
    } 
  }

  @media screen and (max-width: 524px) {
    form {
        max-width: 400px;
        height: 300px;
        padding: 20px;
        border-radius: 20px;
    }
  }

